.backgroundImage {
  width: 100%;
  height: 100%;
  right: 50%;
  position: absolute;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.box .box {
  background-color: #ccc;
}

.headTitle {
  color: #444;
}

.d {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  max-width: 330px;
  position: absolute;
  margin: 30% 40%;
}

.e {
  grid-column: 1 / 3;
  grid-row: 1;
}

.f {
  display: block;
  grid-column: 1;
  grid-row: 2;
}

.g {
  grid-column: 2;
  grid-row: 2;
  float: left;
}

.indiLogo {
  float: left;
  padding: 0.1em;
}
